/* card-list */
body {
    padding: 20px;
}
.cards {
    --spacing: 30px;
    --columns: 4;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
}
.card {
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 767px) {
    .cards {
        --spacing: 15px;
        --columns: 1;
    }
}
@media screen and (max-width: 1023px) {
    .cards {
        --columns: 2;
    }
}
.card-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
}
.card-top {
    padding: 25px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.card-title {
    font-weight: 500;
    margin-bottom: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.card-user {
    display: flex;
    align-items: center;
    margin-top: auto;
    flex: 1;
}
.card-user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    flex-shrink: 0;
    object-fit: cover;
}
.card-user-info {
    padding-left: 20px;
    flex: 1;
}
.card-user-top {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}
.card-user-top ion-icon {
    color: #20e3b2;
    margin-left: 5px;
}
.card-user-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
}
.card-user-game {
    color: #999;
    font-weight: 300;
    font-size: 13px;
}
.card-bottom {
    padding: 25px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    flex-shrink: 0;
}
.card-live {
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #ff6651;
}
.card-live span {
    margin-left: 10px;
    font-size: 14px;
}
.card-watching {
    font-size: 13px;
    color: #999;
    font-weight: 300;
}
.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
